grpcio==1.67.0
grpcio-tools==1.67.0
protobuf>=4.25.0
nvidia-riva-client>=2.15.0
numpy==1.26.4
soundfile==0.12.1
soxr==0.3.7
pydantic==2.8.2
pydantic-settings==2.4.0
# NeMo ASR stack
cython>=0.29.36
torch>=2.1.0
torchaudio>=2.1.0
nemo_toolkit[asr]>=2.0.0
cuda-python>=12.3
